html, body {
	width: 100%;
	height: 100%;
	font-size: 11px;
	font-family: calibri, arial;
	margin: 0;
	padding: 0;
}

.wrapp {
	width: 100%;
	height: 100%;
	display: block;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

.header {
	width: 100%;
	height: 10%;
	background: #3e6cab;
	font-size: 20px;
	padding: 20px;
	color: #fff;
	border-bottom: 1px solid #305a92;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

.content-wrapp {
	width: 100%;
	height: 86%;
	display: block;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

.content {
	float: left;
	width: 73%;
	padding: 10px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

.login {
	float: right;
	width: 27%;
	height: 100%;
	background: #222;
	box-sizing: border-box;
	padding: 10px 50px;
	text-align: center;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

.login h3 {
	color: #4577bb;
	margin-bottom: 30px;
}

.footer {
	width: 100%;
	height: 4%;
	background: #3e6cab;
	border-top: 1px solid #305a92;
	padding: 7px 20px;
	color: #eee;
	font-size: 10px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

th, td {
	font-size: 12px;
}

table[border="0"] td {
	padding: 3px 5px;
}

.menu_atas {
	width: 100%;
	height: 5%;
	background: #333;
	display: inherit;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

.menu_atas ul {
	list-style: none;
	margin: 0;
	padding: 0;
	padding-left: 10px;
}

.menu_atas ul li {
	display: inline-block;
}

.menu_atas ul li a {
	display: inline-block;
	padding: 7px 15px;
	color: #5f98e5;
}

.menu_atas a:hover,
.menu_atas a:active {
	text-decoration: none;
	background: #555;
	color: #fff;
}